# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

on:
  push:
    tags: ["*"]

name: artifacts
jobs:
  build:
    runs-on: ubuntu-latest-8-cores
    env:
      DOCKER_BUILDKIT: "1"
      COMPOSE_DOCKER_CLI_BUILD: "1"
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - uses: docker/setup-qemu-action@v2
        id: qemu
        with:
          platforms: linux/amd64,linux/arm64

      - uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true

      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/metadata-action@v4
        id: meta
        env:
          DOCKER_METADATA_PR_HEAD_SHA: "true"
        with:
          images: ghcr.io/lotusflare/lucas
          tags: |
            type=semver,pattern={{version}}

      - uses: docker/build-push-action@v4
        with:
          platforms: ${{ steps.qemu.outputs.platforms }}
          builder: ${{ steps.buildx.outputs.name }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          context: .
          target: artifacts
          file: Dockerfile
          cache-from: type=gha
          cache-to: type=gha
